/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: 'versions.yml'
        ]
    }
}

process {

    withName: 'TRANSDECODER_PREDICT' {
        ext.args   = '--single_best_only'
        publishDir = [
            path: { "${params.outdir}/transdecoder/t_predict" },
            mode: params.publish_dir_mode,
            enabled: params.save_proteins
        ]
    }
    withName: 'TRANSDECODER_LONGORF' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/transdecoder/t_longorf" },
            mode: params.publish_dir_mode,
            enabled: params.save_proteins
        ]
    }
    withName: 'HMMER_HMMSCAN' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/transdecoder/hmmscan" },
            mode: params.publish_dir_mode,
            enabled: params.save_proteins
        ]
    }
    withName: 'GTF_2_GENETX_MAP' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/transdecoder/gene_tx_map" },
            mode: params.publish_dir_mode,
            enabled: params.save_proteins
        ]
    }
}
